
.container-login {
  height: 100vh;
  .section-left {
    height: 100vh;
    padding: 20px 40px 20px 40px;
    .panel-login {
      height: 50vh;
    }
  }
  .section-right {
    height: 100vh;
    img {
      height: 100%;
    }
  }
}
